Source: auctex
Priority: optional
Section: tex
Maintainer: Davide G. M. Salvetti <salve@debian.org>
Uploaders: OHURA Makoto <ohura@debian.org>
Standards-Version: 3.7.2
Build-Depends-Indep: ed, emacs21 | emacs-snapshot, eperl, gs-gpl | gs, po-debconf, tetex-bin | texlive-base, texinfo, texi2html (>=1.76-1)

Package: auctex
Architecture: all
Depends: debconf | debconf-2.0, debianutils (>= 1.7), emacs21 | emacs-snapshot, gs-gpl | gs, make, preview-latex-style
Recommends: tetex-base | texlive-latex-recommended, doc-base, xpdf | pdf-viewer
Suggests: catdvi, dvipng, lacheck
Conflicts: emacspeak (<= 17.0-1), preview-latex
Replaces: preview-latex
Provides: preview-latex
Description: An integrated environment for editing TeX and friends documents
 AUCTeX is a comprehensive customizable integrated environment for writing
 input files for TeX/LaTeX/ConTeXt/Texinfo using Emacs.
 .
 It lets you process your source files by running TeX and related tools (such
 as output filters, post processors for generating indices and bibliographies,
 and viewers) from inside Emacs.  AUCTeX lets you browse through the errors
 TeX reported, while it moves the cursor directly to the reported error, and
 displays some documentation for that particular error.  This will even work
 when the document is spread over several files.
 .
 One component of AUCTeX that LaTeX users will find attractive is
 preview-latex, a combination of folding and in-source previewing that
 provides true "What You See Is What You Get" experience in your sourcebuffer,
 while letting you retain full control.  preview-latex comes with its own
 manual.
 .
 AUCTeX automatically indents your `LaTeX-source', not only as you write
 it---you can also let it indent and format an entire document.  It has a
 special outline feature, which can greatly help you `getting an overview' of
 a document.
 .
 Apart from these special features, AUCTeX provides a large range of handy
 Emacs macros, which in several different ways can help you write your
 documents fast and painlessly.
 .
 All features of AUCTeX are documented using the GNU Emacs online
 documentation system. That is, documentation for any command is just a key
 click away!
 .
 AUCTeX is written entirely in Emacs-Lisp, and hence you can easily add new
 features for your own needs.  It has become recently a GNU project.  AUCTeX
 is distributed under the `GNU General Public License Version 2'.
 .
 Currently XEmacs ships with its own AUCTeX, so this package should only
 be used with GNU/Emacs.  (I.e., you don't need to install this package if
 your site uses only XEmacs.)
 .
 Homepage: http://www.gnu.org/software/auctex/

Package: preview-latex-style
Architecture: all
Depends: tetex-bin | texlive-base
Conflicts: preview-latex (<=0.7.3-2)
Description: LaTeX style files for editor embedded preview of some environments
 These style files are allow previewing LaTeX environments such as math or
 figures in editors which support it.
 .
 Homepage: http://www.gnu.org/software/auctex/preview-latex.html
