Source: auctex
Section: tex
Priority: optional
Build-Depends: texinfo, texi2html
Maintainer: Davide G. M. Salvetti <salve@debian.org>
Standards-Version: 3.2.1

Package: auctex
Architecture: all
Depends: debconf, debianutils (>= 1.7), emacs20|emacs21|mule2
Recommends: tetex-base
Suggests: lacheck
Description: An integrated environment for writing TeX/LaTeX documents.
 AUC TeX can indent your text as you write it, let you run TeX/LaTeX
 and other LaTeX-related tools (such as a output filter or post
 processor) from within Emacs, and includes a wide range of Emacs
 macros to allow both easy insertions of LaTeX commands, and easy
 compilation, previewing, and printing of your TeX documents.
 .
 AUC TeX also lets you browse through compiling errors TeX reports,
 while it moves the cursor directly to the reported error and displays
 documentation for that particular error.  This will even work when the
 document is spread over several files.
 .
 Currently XEmacs ships with its own AUC TeX, so this package should only
 be used with GNU/Emacs.  (I.e. you don't need to install this package if
 your site uses only XEmacs.)
