Source: auctex
Section: tex
Priority: optional
Build-Depends-Indep: ed, emacs21 | emacs-snapshot, eperl, texinfo, texi2html
Maintainer: Davide G. M. Salvetti <salve@debian.org>
Standards-Version: 3.6.1

Package: auctex
Architecture: all
Depends: debconf, debianutils (>= 1.7), emacs21 | emacs-snapshot, make
Recommends: tetex-base
Suggests: catdvi, lacheck
Conflicts: emacspeak (<= 21)
Description: An integrated environment for writing TeX/LaTeX documents
 AUCTeX is a comprehensive customizable integrated environment for writing
 input files for TeX/LaTeX using GNU Emacs.
 .
 AUCTeX lets you run TeX/LaTeX and other LaTeX-related tools, such as a output
 filters or post processor from inside Emacs.  Especially `running LaTeX' is
 interesting, as AUCTeX lets you browse through the errors TeX reported, while
 it moves the cursor directly to the reported error, and displays some
 documentation for that particular error.  This will even work when the
 document is spread over several files.
 .
 AUCTeX automatically indents your `LaTeX-source', not only as you write it --
 you can also let it indent and format an entire document.  It has a special
 outline feature, which can greatly help you `getting an overview' of a
 document.
 .
 Apart from these special features, AUCTeX provides a large range of handy
 Emacs macros, which in several different ways can help you write your LaTeX
 documents fast and painlessly.
 .
 All features of AUCTeX are documented using the GNU Emacs online
 documentation system.  That is, documentation for any command is just a
 key click away!
 .
 AUCTeX is written entirely in Emacs-Lisp, and hence you can easily add
 new features for your own needs.  It was not made as part of any
 particular employment or project (apart from the AUCTeX project itself).
 AUCTeX is distributed under the `GNU Emacs General Public License' and
 may therefore almost freely be copied and redistributed.
 .
 Currently XEmacs ships with its own AUCTeX, so this package should only
 be used with GNU/Emacs.  (I.e., you don't need to install this package if
 your site uses only XEmacs.)
